/*整体布局*/
.jd_layout {
    width: 100%;
    max-width: 640px;
    min-width: 320px;
    margin: 0 auto;
    background-color: #ddd;
}
/*头部搜索栏 logo 登录*/
.jd_header {
    width: 100%;
    height: 40px;
    max-width: 640px;
    background-color: rgba(233,35,34,0);
    position: fixed;
    z-index: 999;
}
/*logo*/
.jd_header > .jd_icon_logo {
    width: 56px;
    height: 30px;
    background-position: 0 -109px;
    top: 10px;
    left: 5px;
}
/*搜索栏*/
.jd_header > form {
    width: 100%;
    padding: 5px 66px;
}
.jd_header > form > .jd_icon_search {
    width: 25px;
    height: 20px;
    background-position: -57px -109px;
    top: 10px;
    left: 72px;
}
.jd_header > form > input {
    width: 100%;
    height: 30px;
    border-radius: 25px;
    padding-left: 35px;
    font-size: 14px;
}
/*登录*/
.jd_header > .jd_login {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    text-align: center;
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
}
/*轮播图*/
.jd_banner {
    width: 100%;
    overflow: hidden;
    position: relative;
}

/*广告图*/
.jd_banner > ul:first-of-type {
    width: 1000%;
    -webkit-transform: translateX(-10%);
    -moz-transform: translateX(-10%);
    -ms-transform: translateX(-10%);
    -o-transform: translateX(-10%);
    transform: translateX(-10%);
}
.jd_banner > ul:first-of-type > li {
    float: left;
    width: 10%;
}
.jd_banner > ul:first-of-type > li > a {
    width: 100%;
    display: block;
}
.jd_banner > ul:first-of-type > li > a > img {
    width: 100%;
    display: block;
}
/*轮播点*/
.jd_banner > ul:last-of-type {
    width: 118px;
    height: 10px;
    position: absolute;
    bottom: 5px;
    left: 50%;
    margin-left: -59px;
}
.jd_banner > ul:last-of-type > li {
    width: 6px;
    height: 6px;
    border: 1px solid #fff;
    float: left;
    margin-left: 10px;
    border-radius: 50%;
}
.jd_banner > ul:last-of-type > li:first-of-type {
    margin-left: 0;
}
.jd_banner > ul:last-of-type > li.active {
    background-color: #fff;
}
/*导航栏*/
.jd_nav {
    width: 100%;
    background-color: #fff;
    padding: 10px 20px 20px;
}
.jd_nav > ul {
    width: 100%;
}
.jd_nav > ul > li {
    float: left;
    width: 25%;
    margin-top: 10px;
    text-align: center;
}
.jd_nav > ul > li > a {
    width: 100%;
    display: block;
}
.jd_nav > ul > li > a > img {
    width: 40%;
}
/*商品模块*/
/*京东超市*/
.jd_product_box {
    width: 100%;
    background-color: #fff;
    margin-top: 10px;
}
.jd_product_box > .jd_pTip {
    width: 100%;
    height: 30px;
    padding: 5px 30px;
    position: relative;
}
.jd_product_box > .jd_pTip > h3 {
    color: #e92322;
    font-size: 14px;
}
.jd_product_box > .jd_pTip::before {
    content: '';
    position: absolute;
    width: 4px;
    height: 10px;
    top: 10px;
    left: 22px;
    background-color: #e92322;
}
/*京东秒杀*/
.jd_sk {
    width: 100%;
}
.jd_sk > .jd_pTip::before {
    display: none;
}
.jd_sk > .jd_pTip > .jd_left > .jd_sk_icon {
    width: 16px;
    height: 20px;
    background: url("../images/seckill-icon.png") no-repeat;
    -webkit-background-size: 16px 20px;
    background-size: 16px 20px;
}
.jd_sk > .jd_pTip > .jd_left > .jd_sk_text {
    color: #e92322;
}
.jd_sk > .jd_pTip > .jd_left > .jd_sk_time > span {
    width: 14px;
    height: 16px;
    line-height: 16px;
    display: inline-block;
    text-align: center;
    font-size: 12px;
    color: #fff;
    background-color: #000;
}
.jd_sk > .jd_pTip > .jd_left > .jd_sk_time > span:nth-of-type(3n) {
    background-color: transparent;
    color: #000;
    width: 8px;
}
.jd_sk > .jd_pContent {
    width: 100%;
}
.jd_sk > .jd_pContent > ul {
    width: 100%;
}
.jd_sk > .jd_pContent > ul > li {
    width: 33.33%;
    float: left;
    text-align: center;
}
.jd_sk > .jd_pContent > ul > li > p:nth-of-type(1) {
    color: #e92322;
}
.jd_sk > .jd_pContent > ul > li > p:nth-of-type(2) {
    color: #888;
    text-decoration: line-through;
}
.jd_sk > .jd_pContent > ul > li > a {
    width: 100%;
    display: block;
}
.jd_sk > .jd_pContent > ul > li > a > img {
    width: 60%;
}